@use "./mixin" as *

@font-face 
    @include font-type
    font-weight: 500 
    src: url('./fonts/Medium500.woff2') format("woff2"), url('./fonts/Unbounded-Medium.ttf') format('truetype')
    
@font-face 
    @include font-type
    font-weight: 400 
    src: url('./fonts/Regular400.woff2') format("woff2"), url('./fonts/Unbounded-Regular.ttf') format('truetype')
    
@font-face 
    @include font-type
    font-weight: 300 
    src: url('./fonts/Light300.woff2') format("woff2"), url('./fonts/Unbounded-Light.ttf') format('truetype')