.menu {
    width: 100%;
    height: 114px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.menu__wrapper {
    width: 100%;
    height: inherit;
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s background-color, .4s top;
}

.menu:hover .menu__wrapper {
    top: 0;
    background-color: var(--menu-background-color);
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 577px;
    list-style-type: none;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: var(--main-text-color);
    transition: .5s color;
}

.menu__link:hover {
    color: var(--main-backgound-color-button);
}

.menu__burger {
    display: none;
}

.menu__checkbox {
    display: none;
}

@media (max-width: 1024px) {
    .menu {
        position: static;
        max-width: 930px;
        height: initial;
    }

    .menu__wrapper {
        position: static;
    }

    .menu:hover .menu__wrapper {
        background-color: transparent;
    }

    .menu__wrapper.container {
        padding: 0;
    }
}

@media (max-width: 320px) {
    .menu {
        padding-top: 15px;
        height: 38px;
    }

    .menu__burger {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
        height: 18px;
        right: 15px;
        z-index: 1001;
        cursor: pointer;
    }

    .menu__burger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--fifth-background-color);
        transition: .5s transform;
    }

    .menu__checkbox:checked + .menu__burger > span:first-child,
    .menu__checkbox:checked + .menu__burger > span:last-child {
        position: absolute;
        display: block;
        top: 50%;
    }

    .menu__checkbox:checked + .menu__burger > span:nth-child(2) {
        display: none;
    }

    .menu__checkbox:checked + .menu__burger > span:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .menu__checkbox:checked + .menu__burger > span:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .menu__navbar {
        padding: 0 18px;
        width: 0;
        height: 0;
        position: absolute;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: var(--secondary-text-color);
        transition: .5s top, .5s right;
    }

    .menu__checkbox:checked + .menu__burger + .menu__navbar {
        width: 100vw;
        height: 100vh;
    }

    .menu__list {
        width: 0;
        margin: 0 0 0 auto;
        padding: 0;
        height: 176px;
        margin-top: 123px;
        flex-direction: column;
        align-items: end;
        transition: .3s width;
    }

    .menu__item {
        width: inherit;
    }

    .menu__link {
        width: inherit;
        display: block;
        overflow: hidden;
    }
    .menu__checkbox:checked 
    + .menu__burger 
    + .menu__navbar > .menu__list {
        width: 106px;
    }
}