/* @import '/normolize.css'  нужно это подключать для сбросов стилей*/
@import './normolize.css';
@import './fonts.css';
@import '../scss/colors.css';

/*blocks*/
@import "../scss/menu.css";
@import '../modules.css/header.css';
@import '../modules.css/buttons.css';
@import '../modules.css/common.css';
@import '../modules.css/logo.css';
@import '../modules.css/divider.css';
@import '../modules.css/museum-info.css';
@import '../modules.css/photo-link.css';
@import '../modules.css/programms.css';
@import '../modules.css/cars.css';
@import '../modules.css/price.css';
@import '../modules.css/location.css';

@import '../modules.css/footer.css';



@import '../modules.css/map.css';



/*каждой секции нужно задавать position:absolute*/
* {
    box-sizing: border-box;
    font-family: Unbounded;
    font-size: normal;
}

body {
    position: relative;
}



/*
.estate {
    background: url('/img/estate-car.jpg') no-repeat right;
    width: 1920px;
    height: 1130px;
    position: relative;
    z-index: -100;
}

.estate-container {
    padding: 126px 195px;
}

.companies {
    width: 580px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brooklands {
    width: 132px;
    height: 36px;
}

.cogaz {
    width: 88px;
    height: 18px;
}

.avto {
    width: 94px;
    height: 18px;
}

.rossi {
    width: 77px;
    height: 36px;
}

.car-weekend_at_the_estate {
    margin-top: 210px;
}

.class-date {
    width: 258px;
    height: 24px;
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.arkhangelsk__estate {
    width: 1399px;
    height: 172px;
    font-family: Unbounded;
    font-size: 86px;
    font-weight: 500;
    line-height: 86px;
    text-align: left;
    margin-top: 40px;
}

.weekend_in_Moscow {
    width: 1009px;
    height: 48px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 40px;
}

.buttons {
    display: flex;
    width: 550px;
    height: 56px;
    justify-content: space-between;
    margin-top: 40px;
}

.consent__to__participate {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 0.2em;
    text-align: center;
    width: 282px;
    height: 56px;
    background-color: #6C79EC;
    border-radius: 60px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.buy-tickets {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 0.2em;
    text-align: center;
    width: 238px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 60px;
    border: 2px solid #6C79EC;
    color: #6C79EC;
}

.arrow {
    width: 28px;
    height: 7px;
    margin: 232px 751px;
}

.museum {
    height: 560px;
}

.museum-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.museum-reserve {
    width: 620px;
    height: 100px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.museum-reserve-info {
    width: 750px;
    height: 144px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.cars {
    background-color: #D0E4D9;
    height: 2854px;
    border-radius: 50px;
}

.cars-container {
    display: flex;
    padding: 204px 195px;
    justify-content: space-between;
}

.first__car__block {
    width: 650px;
    height: 2276px;
    gap: 130px;

}

.automobile-wrapper {
    width: 650px;
    height: 374px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}


.automobile {
    width: 401px;
    height: 50px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.automobile-info {
    width: 650px;
    height: 168px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.rich-ferrari {
    width: 650px;
    height: 650px;
    border-radius: 40px;
    padding-top: 130px;
}

.more-picture {
    width: 650px;
    height: 212px;
    border-radius: 40px;
    padding-top: 130px;
}

.second__car__block {
    width: 750px;
    height: 2360px;
    gap: 130px;

}

.rarity {
    width: 750px;
    height: 750px;
    border-radius: 50px;
    padding-top: 130px;
}

.rarity-delorean {
    width: 750px;
    height: 600px;
    border-radius: 40px;
    padding-top: 130px;
}

.events {
    background-color: #F6F9F1;
    height: 2291px;
    border-radius: 50px 50px;
}

.scheme-container {
    width: 1530px;
    height: 621px;
    padding: 240px 195px 0px 195px;
}

.scheme {
    width: 372px;
    height: 50px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.entertainment {
    width: 1530px;
    height: 491px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.exhibition, .audience, .childrens-activities {
    width: 490px;
    height: 491px;
    border-radius: 40px;
    border: 2px solid #c1c1c1;
}

.exhibition-wrapper, .audience-wrapper, .childrens-activities-wrapper {
    width: 350px;
    height: 351px;
    padding: 70px;
}

.exhibition-logo, .audience-logo, .little-child {
    width: 36px;
    height: 36px;
}

.exhibition-title, .audience-title, .little-child-title {
    width: 350px;
    height: 135px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    padding: 30px 0px;
}

.exhibition-context, .audience-context, .little-child-context {
    width: 350px;
    height: 120px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.surprise-container {
    width: 1530px;
    height: 980px;
    padding: 160px 195px 0px 195px;
}

.competitions__prizes {
    width: 582px;
    height: 50px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.reward-container {
    width: 1530px;
    height: 850px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.surprise-image-container {
    width: 750px;
    height: 850px;
    border-radius: 40px;
    background: url('./img/surprise-img.jpg') no-repeat right bottom;
    background-color: #D2E3ED;
}

.surprise-wrapper {
    padding: 120px 100px 514px 100px;
    width: 550px;
    height: 216px;
}

.prizes-from-sponsors {
    width: 550px;
    height: 90px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.conditions {
    width: 550px;
    height: 96px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 30px;
}

.competitions-image-container {
    width: 750px;
    height: 850px;
    border-radius: 40px;
    background: url('./img/cup-img.jpg') no-repeat right bottom;
    background-color: #353535;
}

.competitions-wrapper {
    width: 550px;
    height: 291px;
    padding: 120px 100px 439px 100px;
}

.competitions {
    width: 550px;
    height: 45px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: #ffffff;
}

.competitions__context {
    width: 550px;
    height: 216px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    padding-top: 30px;
}

.tickets {
    height: 1415px;
    border-radius: 50px;
    background-color: #D2E3ED;
}

.ticket-header {
    width: 2242px;
    height: 146px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -60px;
    background-color: #ffffff;
}

.ticket-logo {
    width: 85px;
    height: 85px;
}

.inscription {
    width: 408px;
    height: 86px;
    font-family: Unbounded;
    font-size: 86px;
    font-weight: 500;
    line-height: 86px;
    text-align: left;
}

.ticket-context {
    width: 1550px;
    height: 433px;
    display: flex;
    justify-content: space-between;
    padding: 120px 195px;

}

.exhibitions {
    width: 360px;
    height: 433px;
    background-color: #ffffff;
    border-radius: 40px;
}

.one-day__wrapper {
    width: 300px;
    height: 174px;
    gap: 30px;
    padding: 30px;
}

.ticket-day {
    width: 249px;
    height: 24px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 30px;
}

.solid-line {
    width: 300px;
    height: 0px;
    border: 1px solid #1E1E25;
}

.ticket-day-info {
    width: 299px;
    height: 90px;
    gap: 8px;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;
    padding-top: 30px;
}

.value-ticket {
    width: 300px;
    height: 101px;
    gap: 20px;
    padding: 68px 30px 30px 30px;
}

.price {
    width: 125px;
    height: 25px;
    font-family: Unbounded;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.buy-ticket-button {
        font-family: Unbounded;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        letter-spacing: 0.2em;
        text-align: center;
        width: 300px;
        height: 56px;
        background-color: #D0E4D9;
        border-radius: 60px;
        color: #373737;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.safety-container {
    width: 378px;
    height: 285px;
    top: 266px;
    left: 1365px;
    gap: 20px;
}

.safety-wrapper {
    width: 268px;
    height: 97px;
    gap: 20px;
}

.safety-logo {
    width: 32px;
    height: 32px;
}

.safety-title {
    width: 268px;
    height: 45px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    padding-top: 20px;
}

.safety-info {
    width: 378px;
    height: 168px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 20px;
}
ul {
    margin: 0px;
    padding: 0px 20px;
}

.location {
    width: 1530px;
    height: 922px;
    margin: 200px 195px 180px 195px;
    color: #1E1E25;
}

.title-location-container {
    display: flex;
    align-items: center;
    width: 406px;
    height: 85px;
    left: 3px;
    gap: 40px;
}

.location-logo{
    width: 85px;
    height: 85px;
}

.location-title {
    width: 281px;
    height: 50px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.location-container {
    display: flex;
    justify-content: space-between;
}

.block-location {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.village-wrapper {
    width: 620px;
    height: 646px;
}

.village-logo {
    width: 620px;
    height: 598px;
    border-radius: 40px;
    margin-top: 60px;
}

.open-map {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;
    width: 120px;
    height: 18px;
    margin-left: 500px;
}

.location-availability-container {
    width: 750px;
    height: 263px;
    gap: 50px;
}

.availability {
    width: 249px;
    height: 45px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.place {
    width: 750px;
    height: 168px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 50px;
}

.info-numbers-container {
    width: 691px;
    height: 390px;
    gap: 70px;
    margin-top: 124px;
}

.quantity-1 {
    width: 257px;
    height: 84px;
    gap: 10px;
}

.ten-thousand, .infinitely-many, .two-hundred  {
    font-family: Unbounded;
    font-size: 49px;
    font-weight: 300;
    line-height: 50px;
    text-align: left;

}

.kilometer, .car-sharing {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 140px;
    height: 24px;
}

.quantity-2 {
    width: 168px;
    height: 83px;
    gap: 10px;
    margin: 70px 523px 70px 0px;
}

.quantity-3 {
    width: 691px;
    height: 83px;
    gap: 10px;
}

.positive-emotions {
    width: 240px;
    height: 24px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.map {
    width: 1530px;
    height: 1000px;
    top: 9358px;
    left: 195px;
    border-radius: 50px;
    border: 1px;
    background-color: #D0E4D9;
}

.footer {
    width: 1533px;
    height: 619px;
    border-radius: 50px;
    background-color: #D2E3ED;
    margin: 180px 198px;
}

.contacts-wrapper {
    width: 729px;
    height: 154px;
    padding: 80px 100px;
    gap: 15px;
    color: #1E1E25;
}

.contacts {
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.mail {
    width: 678px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mail-info, .tg-info {
font-family: Unbounded;
font-size: 46px;
font-weight: 500;
line-height: 50px;
text-align: left;
}

.mail-logo, .tg-logo {
    width: 42px;
    height: 42px;
}

.tg {
    width: 485px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.participation {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 0.2em;
    text-align: center;
    width: 282px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 60px;
    border: 2px solid #6C79EC;
    color: #6C79EC;
    margin: -240px 100px;
    float: right;
}

.footer-holder {
    width: 1333px;
    height: 38px;   
    margin: 200px 100px;
    gap: 423px;
    display: flex;
    align-items: center;
}



.year {
    width: 47px;
    height: 14px;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    color: #1E1E25;
}

.agreement {
    width: 281px;
    height: 14px;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    color: #1E1E25;
}
*/