@font-face {
    font-family: Unbounded;
    font-weight: 500; 
    font-style: normal;
    src:
    url('/fonts/Unbounded-Medium.ttf') format('truetype')
}

@font-face {
    font-family: Unbounded;
    font-weight: 400; 
    font-style: normal;
    src:
    url('/fonts/Unbounded-Regular.ttf') format('truetype')
}