@import '/fonts.css';

body {
    width: 1920px;
    height: 11307px;
    color: #ffffff;
    font-family: Unbounded;
}



.estate {
    background: url('/img/estate-car.jpg') no-repeat right;
    width: 1920px;
    height: 1130px;
}

.museum {
    height: 560px;
}

.cars {
    background-color: #D0E4D9;
    height: 2854px;
}

.events {
    background-color: #F6F9F1;
    height: 2291px;
    border-radius: 50px 50px;
}

.tickets {
    height: 1415px;
    border-radius: 50px;
    background-color: #D2E3ED;
}

.location {
    width: 1530px;
    height: 922px;
    margin: 200px 195px 180px 195px;
    color: #1E1E25;
}

.title-location-container {
    display: flex;
    align-items: center;
    width: 406px;
    height: 85px;
    left: 3px;
    gap: 40px;
}

.location-logo{
    width: 85px;
    height: 85px;
}

.location-title {
    width: 281px;
    height: 50px;
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
}

.location-container {
    display: flex;
    justify-content: space-between;
}

.block-location {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.village-wrapper {
    width: 620px;
    height: 646px;
}

.village-logo {
    width: 620px;
    height: 598px;
    border-radius: 40px;
    margin-top: 60px;
}

.open-map {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;
    width: 120px;
    height: 18px;
    margin-left: 500px;
}

.location-availability-container {
    width: 750px;
    height: 263px;
    gap: 50px;
}

.availability {
    width: 249px;
    height: 45px;
    font-family: Unbounded;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.place {
    width: 750px;
    height: 168px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 50px;
}

.info-numbers-container {
    width: 691px;
    height: 390px;
    gap: 70px;
    margin-top: 124px;
}

.quantity-1 {
    width: 257px;
    height: 84px;
    gap: 10px;
}

.ten-thousand, .infinitely-many, .two-hundred  {
    font-family: Unbounded;
    font-size: 49px;
    font-weight: 300;
    line-height: 50px;
    text-align: left;

}

.kilometer, .car-sharing {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 140px;
    height: 24px;
}

.quantity-2 {
    width: 168px;
    height: 83px;
    gap: 10px;
    margin: 70px 523px 70px 0px;
}

.quantity-3 {
    width: 691px;
    height: 83px;
    gap: 10px;
}

.positive-emotions {
    width: 240px;
    height: 24px;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.map {
    width: 1530px;
    height: 1000px;
    top: 9358px;
    left: 195px;
    border-radius: 50px;
    border: 1px;
    background-color: #D0E4D9;
}

.footer {
    width: 1533px;
    height: 619px;
    border-radius: 50px;
    background-color: #D2E3ED;
    margin: 180px 198px;
}

.contacts-wrapper {
    width: 729px;
    height: 154px;
    padding: 80px 100px;
    gap: 15px;
    color: #1E1E25;
}

.contacts {
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.mail {
    width: 678px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mail-info, .tg-info {
font-family: Unbounded;
font-size: 46px;
font-weight: 500;
line-height: 50px;
text-align: left;
}

.mail-logo, .tg-logo {
    width: 42px;
    height: 42px;
}

.tg {
    width: 485px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.participation {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 0.2em;
    text-align: center;
    width: 282px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 60px;
    border: 2px solid #6C79EC;
    color: #6C79EC;
    margin: -240px 100px;
    float: right;
}

.footer-holder {
    width: 1333px;
    height: 38px;   
    margin: 200px 100px;
    gap: 423px;
    display: flex;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 159px;
    height: 38px;
    justify-content: space-between;
}

.year {
    width: 47px;
    height: 14px;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    color: #1E1E25;
}

.agreement {
    width: 281px;
    height: 14px;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    color: #1E1E25;
}