.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 56px;
    border-radius: 60px;
    border: 2px solid var(--main-button-border-color);
    cursor: pointer;
    color: var(--main-button-text-color);
    transition: color 0.5s, background-color 0.5s;
}

.button:hover {
    color: var(--main-button-hover-text-color);
    background-color: var(--main-button-hover-background-color);
}

.button:active {
    color: var(--main-button-active-text-color);
    background-color: var(--main-button-active-background-color);
}

.button_secondary {
    width: 282px;
}

.button_tertiary {
    width: 100%;
    background-color: var(--tertiary-button-backgound-color);
    color: var(--tertiary-button-text-color);
    border: none;
}

.button_benefits {
    background-color: var(--fourth-button-backgound-color);
    color: var(--fourth-button-text-color);
    width: 151px;
    height: 50px;
}

.button_footer {
    margin: 80px 103px;
}

@media (max-width: 1024px) {
    .button_footer {
        margin: 80px 50px 0;
    }
}



@media (max-width: 320px) {
    .button {
        width: 100%;
    }

    .button_footer {
        margin: 100px 20px 0;
        max-width: 282px;
        max-height: 56px;
    }
}
