.photo-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 650px;
    height: 212px;
    border-radius: 40px;
    padding: 40px;
    background-color: var(--photo-link-main-background-color);
    cursor: pointer;
}

.photo-link__secondary {
    background-color: var(--photo-link-secondary-background-color);
}

.photo-link__arrow {
    width: 22px;
    height: 22px;
}

@media (max-width: 1024px) {
    .photo-link {
        width: 400px;
        height: 128px;
    }
}

@media (max-width: 320px) {
    .photo-link {
        width: 132px;
        height: 134px;
    }
}