.programms {
    position: relative;
    width: 100%;
    background-color: var(--tertiary-background-color);
}

.programms__content {
    padding: 240px 0;
}

.programms__info {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.programms__info-item {
    width: 490px;
    height: 490px;
    padding: 68px;
    border: 2px solid var(--main-border-color);
    border-radius: 40px;
}

.programms__info-item > .caption,
.programms__info-item > .text {
    margin-top: 30px;
}

.programms__competitions {
    margin-top: 160px;
}

.programms__competitions-facts {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.programms__competitions-item {
    position: relative;
    padding: 120px 100px 0;
    width: 750px;
    height: 850px;
    border-radius: 40px;
    background-color: var(--main-competitions-block-background-color);
}

.programms__competitions-item_secondary {
    background-color: var(--secondary-competitions-block-background-color);
}

.programms__competitions-item > .text {
    margin-top: 30px;
}

.programms__competitions-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1024px) {
    .programms__content {
        padding: 60px 0;
    }

    .programms__info {
        flex-direction: column;
        margin-top: 50px;
    }

    .programms__info-item {
        width: 930px;
        height: 235px;
        padding: 50px;
        border: 2px solid var(--main-border-color);
        border-radius: 40px;
    }

    .programms__info-item:not(:first-child) {
         margin-top: 30px;
    }

    .programms__info-item > .caption,
    .programms__info-item > .text {
    margin-top: 10px;
    }

    .programms__competitions {
        margin-top: 100px;
    }

    .programms__competitions-facts {
        margin-top: 50px;
    }

    .programms__competitions-item {
        padding: 50px 50px 0;
        width: 450px;
        height: 657px;
    }

    .programms__competitions-img {
        width: 432.34px;
        height: 279.67px;
    }

}

@media (max-width: 320px) {
    .programms__content {
        padding: 10px 0;
    }

    .programms__info {
        flex-direction: column;
        margin-top: 30px;
    }

    .programms__info-item:not(:first-child) {
        margin-top: 20px;
   }

   .programms__info-item {
    width: 284px;
    height: 318px;
    padding: 20px;
    }

    .programms__competitions {
        margin-top: 67px;
    }

    .programms__competitions-facts {
        margin-top: 45px;
        flex-direction: column;
    }

    .programms__competitions-item {
        padding: 20px 20px 0;
        width: 284px;
        height: 460px;
    }


    .programms__competitions-img {
        width: 293.98px;
        height: 190.17px;
    }

    .programms__competitions-item:not(:first-child) {
        margin-top: 30px;
        height: 658px;
    }
}